# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Data & outputs (common for CV projects)
data/
output/
runs/
node_modules/
*.pt
*.pth
*.mp4
*.m4v
*.avi